<h1>Password generator</h1>
Length
<hr>
<div class="form">
  <label>Enter length</label>
  <input>
</div>
<div class="checkbox">
  <label>Use letters</label>
  <input type="checkbox">
</div>
<div class="checkbox">
  <label>Use numbers</label>
  <input type="checkbox">
</div>
<div class="checkbox">
  <label>Use symbols</label>
  <input type="checkbox">
</div>
<div class="button">
  <button>Generate password!</button>
</div>
<div class="generated-password">
  <label>Your password</label>
  <input>
</div>
